html {
  background: linear-gradient(
    195deg,
    rgba(240, 98, 146, 1) 0%,
    rgba(221, 89, 133, 1) 98%
  );
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #252525, #7c7c7c); /* degrade cinza claro para médio */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 50px;
}
